<app-navbar></app-navbar>
<div class="container my-5" style="padding-top: 10%;">
    <form [formGroup]="loginUserForm" (ngSubmit)="loginUser()">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control" formControlName="email" aria-describedby="emailHelp" id="exampleInputEmail1">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            <div *ngIf="email?.touched && email?.invalid">
                <small *ngIf="email?.errors?.required" class="text-danger">email is required<br></small>
                <small *ngIf="email?.errors?.minlength" class="text-danger">email must contain ten characters at least</small>
            </div>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" formControlName="password" id="exampleInputPassword1">
            <div *ngIf="password?.touched && password?.invalid">
                <small *ngIf="password?.errors?.required" class="text-danger">password is required<br></small>
                <small *ngIf="password?.errors?.minlength" class="text-danger">password must contain two characters at least</small>
            </div>
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="loginUserForm.invalid">Login</button>
    </form>
</div>
<app-footer></app-footer>